@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "Contact Information";
}

<h1>Contact Information</h1>

<div>
    <p><strong>Name:</strong> Karen</p>
    <p><strong>Email:</strong> karen@yourcompany.com</p>
    <p><strong>Phone:</strong> +45 1234 5678</p>
</div>
